.container {
  position: relative;
}

.header {
  height: 850px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background: #ffc0cb;
  /* background: rgba(255, 255, 255, 0.8); */
  /* -webkit-backdrop-filter: saturate(180%) blur(20px); */
  /* backdrop-filter: saturate(180%) blur(20px); */
  background-image: url(../../../public/img/wave.webp);
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg {
  background: #ff3659;

  /* position: absolute;
  top: -50px;
  right: 0px;
  left: 0;
  margin: auto; */
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #0e1318;
  height: 60%;

  /* position: relative;
  height: 100%;
  text-align: center;
  max-width: 650px;
  margin: auto;
  padding: 0 16px; */
}

.title {
  font-size: 103px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  margin: 100px 0;
  font-weight: bold;
}
